* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(187, 53, 53, 0.747);
}

.title {
    font-size: 30px;
    color: white;
    text-align: center;
}

main {
    
}

#calcola_prezzo {
    display: flex;
    justify-content: center;
}

.container_dati {
    background-color: white;
    width: 80%;
    height: 200px;
    border-radius: 10px;
}

.container_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_box {
    display: flex;
    justify-content: center;
    /* display: none; */
}
 
#biglietto_box  {
    background-color: white;
    width: 80%;
    height: 100px; 
}

.gray {
    background-color: gray;
}

.red {
    color: red;
}

.little_box {
    border-radius: 10px;
    border: 2px solid red;
    width: 200px;
    height: 40px;
}

#prezzo {
    color: black;
}