* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #800020;
}

.title {
    font-size: 30px;
    color: white;
    text-align: center;
}

main {
    
}

#calcola_prezzo {
    display: flex;
    justify-content: center;
}

.container_dati {
    background-color: white;
    width: 80%;
    height: 180px;
    border-radius: 10px;
    text-align: center;
}

.dati_input,
.box_dati {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.little_box,
.little_box_km {
    text-align: center;
}

.little_box_km {
    background-color: #800020;
    color: white;
}

.container_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_box {
    display: flex;
    justify-content: center;
    /* display: none; */
}
 
#biglietto_box  {
    background-color: white;
    width: 80%;
    height: 100px; 
}

.gray {
    background-color: gray;
    height: 20px;
}

.red {
    color: #800020;
}

.little_box {
    border-radius: 10px;
    border: 2px solid #800020;
    width: 200px;
    height: 40px;
}

#prezzo {
    color: black;
}

.dettaglio {
    display: flex;
    justify-content: start;
}

.table {
    width: 100%;
    height: 100%;
}

.text {
    display: flex;
    justify-content: space-around;
}